---
---

<section
	data-testid="about"
	id="about"
	class="mb-10 flex flex-col items-center justify-center lg:mb-0 lg:h-screen lg:flex-row"
>
	<div class="mb-10 flex w-full flex-col items-center justify-center lg:mb-0 lg:w-1/2">
		<h2 class="font-monospace text-2xl text-orange lg:text-4xl">About me</h2>
		<span class="mb-6 ml-2 h-1 w-10 bg-orange"></span>
	</div>

	<div class="w-full text-justify text-black dark:text-white lg:w-1/2">
		<p class="mb-2">
			Hi, I'm Jose Reategui, a passionate Web Developer who turns ideas into digital experiences! With
			1 year and 3 months in the coding universe, I've mastered the art of HTML, CSS, and
			JavaScript. I groove seamlessly between React, Astro, and Three.js, adding a touch of magic to
			every project. **What I Bring to the Table:** - Front-end prowess with HTML, CSS, and
			JavaScript. - Expertise in React, Astro, and Three.js for dynamic and creative interfaces. -
			Back-end strength using Node.js, Sequelize, and PostgreSQL for robust APIs. - Real-world
			experience as an intern at WarmiVentures. - Diverse portfolio showcasing interactive web
			applications and solid backend solutions. **Coding is My Passion:** I'm not just a developer;
			I'm a relentless learner. Always on the pulse of the latest technologies, I transform
			challenges into opportunities for growth. **Why Choose Me?** - Meticulous attention to detail.
			- Trendsetter in web development. - Exceeding expectations is my standard. Ready to bring your
			ideas to life through pixels and code? Let's create something extraordinary together! --- Feel
			free to tweak it as needed!
		</p>
	</div>
</section>
