---
---

<section
	data-testid="about"
	id="about"
	class="mt-10 mb-10 flex flex-col items-center justify-center lg:mb-0 lg:h-screen lg:flex-row"
>
	<div class="mb-10 flex w-full flex-col items-center justify-center lg:mb-0 lg:w-1/2">
		<h2 class="font-monospace text-2xl text-orange lg:text-4xl">About me</h2>
		<span class="mb-6 ml-2 h-1 w-10 bg-orange"></span>
	</div>

	<div class="w-full text-justify text-black dark:text-white lg:w-1/2">
		<p class="mb-2">
			Greetings, I'm Jose Reategui, an enthusiastic Web Developer bringing over 1 year and 3 months
			of expertise in HTML, CSS, and JavaScript to the table. Proficient in React, Astro, and
			Three.js, I specialize in crafting dynamic and engaging interfaces. On the back end, I
			leverage Node.js, Sequelize, and PostgreSQL to create robust APIs. 
			<br>
			<br>
			My journey includes valuable real-world experience as an intern at WarmiVentures, where I had the opportunity to
			contribute to meaningful projects. My portfolio reflects a diverse range of interactive web
			applications and showcases my ability to provide solid back-end solutions.
			<br>
			<br>
			Driven by a relentless passion for coding, I'm always at the forefront of emerging technologies,
			transforming challenges into opportunities for continuous growth. Known for meticulous
			attention to detail, I take pride in setting trends in web development and consistently
			exceeding expectations. 
			<br>
			<br>
			Ready to collaborate and bring your ideas to life through a seamless
			blend of pixels and code? Let's embark on the journey of creating something truly
			extraordinary together!
		</p>
	</div>
</section>
