<footer data-testid="footer" class="my-10 p-6 text-center text-sm text-black dark:text-white">
	<p>
		{new Date().getFullYear()}. Made by <a
			href="https://github.com/Jose171000"
			target="_blank"
			rel="noopener"
		>
			<span class="text-orange"> Jose Reategui</span>
		</a>
	</p>
</footer>